<h2>Search Authors</h2>
<form action="/authors" method="GET">
<input type="text" placeholder="Type The name of author to search" name="name" value="<%= searchOptions.name %>">
<button type="submit">Search</button>
</form>
<br>
<% authors.forEach(author=>{%>

    <div><%= author.name %> </div>



<%}) %> 